/* A Bootstrap-es oldal megjelenésének felülírása*/
.carousel-item img
{
    object-fit: cover;
    object-position: center;
    height: 40vh;
    overflow: hidden;
}

body
{
    background-image: url(../media/fejlechatter.jpg);
}